.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2ec4b525;
}

.hero .content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: var(--secondary-color);
}

.hero .content h1 {
  font-size: clamp(36px, 4vw, 70px);
  margin-block-end: 4px;
}

.hero .content p {
  margin: 0;
  font-size: clamp(16px, 1.5vw, 24px);
}

.breadcrumbSection {
  background-color: var(--secondary-color); /* اللون البرند */
  padding: 15px 0;
}

.container {
  /* max-width: 1140px; */
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  color: var(--primary-color);
}

.breadcrumb a {
  color: var(--primary-color);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.breadcrumb a:hover {
  opacity: 1;
}

.separator {
  opacity: 0.5;
}

.current {
  font-weight: 700;
  color: var(--primary-color);
}

.servicesSection {
  padding: 60px 0;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subheading {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 3rem;
  line-height: 1.6;
}

.grid {
  display: flex;
  flex-direction: column;
}

.gridItem {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s all ease;
}

.gridItem::before {
  content: "";
  position: absolute;
  transform: translateY(-101%);
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.2s all ease;
}

.gridItem:hover::before {
  transform: translateY(0);
}

.gridItem:hover {
  color: white;
}

.image {
  width: 100%;
  border-radius: 4px;
}

.content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.content p {
  margin-bottom: 0.5rem;
}

.readMore {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.servicesSection a {
  background-color: var(--primary-color);
  width: 250px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: var(--secondary-color);
  font-size: clamp(15px, 1.5vw, 18px);
  transition: 0.15s all ease-in-out;
}

.servicesSection a:hover {
  background-color: var(--third-color);
}

@media (max-width: 768px) {
  .gridItem {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .content {
    max-width: 100%;
  }
}
